<hr>
<h4>{{ $nombre }}</h4>
<p>
	<i> Con {{ $edad }} años
		{if $edad >= 50 :}
			eres un vejestorio :v
		{elif $edad >= 18 :}
			no eres tan viejo :B
		{el}
			aún eres joven :3
		{/if}
	</i>
</p>
<p>
	<ul>
		{each $frutas as $fruta :}
			<li>{{ $fruta }}</li>
		{/each}
	</ul>
</p>